
// PROJECT CARD CODE HERE
.my_projects_container_item{
    margin: 1rem 0;
    background: #fff;
    max-width: 400px;
    max-height: 650px;
    width: 400px;
    height: 650px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px  1px rgba(0, 0, 0, 0.192) ;
    position: relative;

    &_img {

        // margin: 1rem auto;
        
       // border: solid rebeccapurple 2px;
        display: flex;
        justify-content: center;
        padding: 1rem;
        &_box{
           // border: solid rebeccapurple 2px;
            border-radius: 15px;
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            overflow: hidden;
            img {
                transition: transform 0.5s;
                 width: 100%;
                 height: 220px;
                 // border: solid pink 2px;
                 // margin: 0 auto ;
                 border-radius: 15px;
         
                 &:hover{
                     transform: scale(1.2);
                 }
         
                   }

        }


     }

     &_content{
         padding: 1rem;

         &_title{
             font-family: 'Oswald',sans-serif;
             font-size: 2rem;
             margin-bottom: 1rem;

         }

         p{
             font-family: 'Quattrocento', serif;
             font-size: 1.6rem;
             font-weight: 400;
             color: $yellowColour;
             margin-bottom: 1rem;
          // border: 1px red solid;
             overflow: hidden;
             text-overflow: ellipsis;
             display: -webkit-box;
             -webkit-line-clamp: 4; /* number of lines to show */
             -webkit-box-orient: vertical;


          }

     }

     &_stack{
         padding-left: 1rem;

         h2{

            font-family: 'Oswald',sans-serif;
            font-weight: 400;
            font-size: 1.8rem;

         }
         &_item{
             display: flex;
             flex-wrap: wrap;
             padding: 1rem 0;
            //  justify-content: right;    
             span{
                 margin: 0 0.5rem;
                color: #374151;
                background: #E5E7EB;
                border-radius: 5px;
                font-family: 'Oswald',sans-serif;
                font-size: 1.4rem;
                padding: 0.1rem 1rem;
            }
         }

     }

     &_abslute{
        position: absolute;
        bottom: 5px;
        left: 0;
        display: flex;
        width: 100%;
        margin: 0 auto;
        &_buttons{
            flex: 1;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                background: $ButtonColour;
                color: black;
                font-family: 'Quattrocento', serif;
                font-size: 1.6rem;
                padding: 0.4rem 1.6rem;
                border-radius: 4px;
              &:hover{
                 background: $cardButtonHover;
                 animation: buttonHover 0.5s ease-out  1 ;
                 animation-fill-mode: both;
                }
            }
         }

         &_readme{
             padding: 1rem;

             a{
                color: black;
                font-family: 'Quattrocento', serif;
                font-size: 1.6rem;
                transition: color 0.2s;
                &:hover {
                    color: $readmeHOver;
                
                }
            }
       
        }
        
     }

}


@media (max-width : 550px){
    .my_projects_container_item{
    width: 300px;
    height: 500px;
    }
}